@{
    ViewData["Title"] = "Access Denied";
}

<div id="home">
    <img id="home_image" src="/Images/403.png" alt="Girl in a jacket">
</div>
<div class="text-center">
    <h3  style="justify-content: center">We are Sorry...</h3>
    <p  style="justify-content: center">The Page you are trying to access has restricted access.</p>
</div>