@model LMS.Models.User
@{
    ViewData["Title"] = "Login Page";
}

<div class="text-Left">
    <h1 class="display-7">SignUp</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>

@if(@ViewBag.Message != null)
{
    <div class="alert alert-danger alert-dismissible fade show">
      @ViewBag.Message
    </div>   
}
@using (Html.BeginForm("New", "Account"))
{
    <div class="row mb-3">
        <div class="col-sm-1 col-form-label">
            <label asp-for=Name class="control-label"></label>
        </div>
        <div class="col-sm-3">
            <input asp-for=Name class="form-control" />
             <span asp-validation-for=Name class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-1 col-form-label">
            <label asp-for=Email class="control-label"></label>
        </div>
        <div class="col-sm-3">
            <input asp-for=Email class="form-control" />
             <span asp-validation-for=Email class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-1 col-form-label">
            <label asp-for=UserName class="control-label"></label>
        </div>
        <div class="col-sm-3">
            <input asp-for=UserName class="form-control" />
             <span asp-validation-for=UserName class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-1 col-form-label">
            <label asp-for=Password class="control-label"></label>
        </div>
        <div class="col-sm-3">
            <input asp-for=Password class="form-control" />
             <span asp-validation-for=Password class="text-danger"></span>
        </div>
    </div>
    

    <button type="submit" class="btn btn-primary">SignUp</button>
}