html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url(../Images/Bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
navbar {
    color: #ff0000;
    padding-block: 20px;
}
.nav {
    padding-right: 30px;
}

#home{
    display: flex;
    justify-content: center;
}
#home_image {
    max-width: 30%;
    max-height: 30%;
    background-position: center;
}

#list-button {
    height: auto;
    width: 300px;
    border-color: #04bcc6;
    text-align: center
}

.datepicker td, .datepicker th {
    width: 1.5em;
    height: 1.5em;
}

#bookcard {
    /*background-color: #000000;*/
    margin: 25px;
    
}
#bookcard-img{
    width: 300px;
    max-height: 500px;
}
#bookcard-info{
    
}