@model IEnumerable<LMS.Models.Rental>
@{
    ViewData["Title"] = "Rentals";
}

<div >
    <table id="rentalstable" class="table border" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th class="th-sm">Customer Name</th>
          <th class="th-sm">Book Name</th>
          <th class="th-sm">Return Status</th>
          <th class="th-sm">Date Rented</th>
          <th class="th-sm">Date Return</th>
          <th class="th-sm">Penalty</th>
        </tr>
      </thead>
      <tbody>
            
        </tbody>
    </table>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#rentalstable").DataTable({
                "ajax": {  
                    "url": "/Books/GetRentals",  
                    "type": "GET",  
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "user.name"
                    },
                    {
                        data: "book.title"
                    },
                    {
                        data: "isReturned",
                        render: function (data) {
                            if(data == true){
                                return "Done"
                            }
                            return "Pending"
                        }
                    },
                    {
                        data: "dateRented"
                        
                    },
                    {
                        data: "dateReturn"
                        
                    },
                    {
                        data: "penaltyAmount",
                        render: function (data) {
                            if(data == null){
                                return "nill"
                            }
                            return data
                        }
                    }
                    
                ]
            });
        });
    </script>
}